<nav class="navbar is-transparent">
    <div class="navbar-brand">

        <div class="navbar-burger burger" data-target="navbar-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'index' %}">
                Inicio
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                    Secciones
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'team-list' %}">
                        Equipos
                    </a>

                    <a class="navbar-item" href="{% url 'round-list' %}">
                        Tabla de posiciones
                    </a>
                    <a class="navbar-item" href="{% url 'bet-list' %}">
                        Marcadores oficiales
                    </a>
                    <a class="navbar-item" href="{% url 'gambler-list' %}">
                        Participantes
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

{% block javascript %}
    <script type="text/javascript"
            src="/static/js/menu.js"></script>
    <!-- Yeah, and more js, of course -->
{% endblock javascript %}
