<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
            <img src="http://www.goplayball.com/images/gpb-playball-logo.png" alt="Soccer"
                 width="112" height="28">
        </a>
        <div class="navbar-burger burger" data-target="navbar-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'index' %}">
                Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                    Sections
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'team-list' %}">
                        Teams
                    </a>
                    <a class="navbar-item" href="{% url 'player-list' %}">
                        Players
                    </a>
                    <a class="navbar-item" href="{% url 'round-list' %}">
                        Rounds
                    </a>
                    <a class="navbar-item" href="{% url 'bet-list' %}">
                        Bets
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>