<nav class="navbar is-transparent">
    <div class="navbar-brand">

        <div class="navbar-burger burger" data-target="navbar-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'index' %}">
                Inicio
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                    Resultados
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'gambler-list' %}">
                        Quiniela original
                    </a>
                    <a class="navbar-item" href="{% url 'second-gambler-list' %}">
                        Quiniela de consolación
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                    Primera ronda
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'team-list' %}">
                        Equipos
                    </a>
                    <a class="navbar-item" href="{% url 'round-list' %}">
                        Puntos primera ronda
                    </a>
                    <a class="navbar-item" href="{% url 'qualified-oficial' %}">
                        Clasificados a octavos oficiales
                    </a>
                    {#                    <a class="navbar-item" href="{% url 'qualified-gamblers' %}">#}
                    {#                        Clasificados a octavos por participantes#}
                    {#                    </a>#}
                    <a class="navbar-item" href="{% url 'bet-list' %}">
                        Resultados oficiales primera fase
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                    Octavos
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'bet-eight-list' %}">
                        Resultados oficiales octavos
                    </a>
                    <a class="navbar-item" href="{% url 'round-eight-list' %}">
                        Puntos octavos
                    </a>
                </div>

            </div>
        </div>
    </div>
</nav>

{% block javascript %}
    <script type="text/javascript"
            src="/static/js/menu.js"></script>
    <script type="text/javascript"
            src="/static/js/sorttable.js"></script>
{% endblock javascript %}
