{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Resultados{% endblock %}

{% block content %}
    <h1 class="title">Resultados oficiales</h1>
    {% if bet_list %}
        <h4 class="title">Total de partidos: {{ bet_list|length }} / Total de puntos: {{ value|played_points:bet_list }} </h4>
    {% endif %}
    <table class="sortable">
        <thead>
        <tr>
            <th>Grupo</th>
            <th>Equipo 1</th>
            <th>Goles</th>
            <th>Equipo 2</th>
            <th>Goles</th>
        </tr>
        </thead>
        <tbody>
        {% for bet in bet_list %}
            <tr>
                {% for round in bet.team1.round_set.all %}
                    <td><a href="{% url 'bet-detail' bet.pk %}">{{ round.team.get_group_display }}</a></td>
                    {% endfor %}
                <td>{{ bet.team1 }}</td>
                <td>{{ bet.goals_team1 }}</td>
                <td>{{ bet.team2 }}</td>
                <td>{{ bet.goals_team2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}