{% extends 'base.html' %}

{% block title %}{{ bet.name }}{% endblock %}

{% block content %}
    <a class="button is-success" href="{% url 'bet-list' %}">Volver</a>
    <hr>

    <div class="level">
        <div class="level-item has-text-centered">
            <div >
                <p class="heading">Nombre</p>
                <p class="title">{{ bet.source.name }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Equipo 1 - Goles</p>
                <p class="title">{{ bet.team1 }} - {{ bet.goals_team1 }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div >
                <p class="heading">Equipo 2 - Goles</p>
                <p class="title">{{ bet.team2 }} - {{ bet.goals_team2 }}</p>

            </div>
        </div>
    </div>
    <hr>

    <div class="level">
        <div>
            <p class="title">
                Apuestas
            </p>
        </div>
        <br/>
    </div>
    <div class="level">
        <table class="sortable">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Marcador</th>
            </tr>
            </thead>
            <tbody>

            {% for b in bet.sorted_bets_set %}
                <tr>
                {% if bet.source.name == 'Oficial' %}
                    {% if b.source.name != 'Oficial' %}
                        <td>{{ b.source.name }}</td>
                        <td>{{ b.goals_team1 }} - {{ b.goals_team2 }} </td>
                    {% endif %}

                {% else %}
                    <td>{{ b.source.name }}</td>
                    <td>{{ b.goals_team1 }} - {{ b.goals_team2 }} </td>

                {% endif %}
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <hr>
    {% if user.is_authenticated %}
        <a class="button is-info is-pulled-left" href="{% url 'bet-update' bet.pk %}">Actualizar</a>
        <a class="button is-danger is-pulled-right" href="{% url 'bet-delete' bet.pk %}">Eliminar</a>
    {% else %}
        <p class="is-pulled-right">Requiere autenticación</p>
    {% endif %}
{% endblock %}