{% extends 'base.html' %}


{% block content %}
    <a class="button is-success" href="{% url 'index' %}">Volver</a>
    <hr>
    <p class="title">Quiniela original</p>
    <div class="level">
        <div class="level-item has-text-centered">
            <div >
                <p class="heading">Quinielas escaneadas</p>
                <p class="title"><a href="https://goo.gl/29T696" target="_blank">Link</a></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div >
                <p class="heading">Datos para octavos</p>
                <p class="title"><a href="https://goo.gl/e3Tiug" target="_blank">Link</a></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Datos para cuartos</p>
                <p class="title"><a href="https://goo.gl/2RZALu" target="_blank">Link</a></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div >
                <p class="heading">Datos para semifinales</p>
                <p class="title"><a href="#" target="_blank">Link</a></p>
            </div>
        </div>
    </div>
    <hr>
    <p class="title">Quiniela de consolación</p>
    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Quinielas</p>
                <p class="title"><a href="https://goo.gl/UET76u" target="_blank">Link</a></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Datos para cuartos</p>
                <p class="title"><a href="https://goo.gl/sQiFUv" target="_blank">Link</a></p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div >
                <p class="heading">Datos para semifinales</p>
                <p class="title"><a href="#" target="_blank">Link</a></p>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}