{% extends 'base.html' %}
{% load custom_tags %}


{% block title %}Participantes{% endblock %}


{% block content %}
    <h1 class="title">Participantes</h1>
    <h4>Para ver las apuestas de cada persona, dé click en el nombre</h4>
    <br/>
    <table class="sortable">
        <thead>
        <tr>
            <th style="text-align: center">Nombre</th>
            <th style="text-align: center">Puntos por resultado </th>
            <th style="text-align: center">Puntos por marcador </th>
            <th style="text-align: center">Equipos a octavos </th>
            <th style="text-align: center">Total de puntos</th>
        </tr>
        </thead>
        <tbody>
        {% for gambler in gambler_list %}
            <tr>
                <td style="text-align: center"><a href="{% url 'gambler-detail' gambler.pk %}">{{ gambler.name }}</a></td>
                <td style="text-align: center">{{ gambler.points_result }}</td>
                <td style="text-align: center">{{ gambler.points_score }}</td>
                <td style="text-align: center">{{ gambler.points_8vo }}</td>
                <td style="text-align: center">{{ value|total_points:gambler.name }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}