{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}{{ gambler.name }}{% endblock %}

{% block content %}
    <a clbass="button is-success" href="{% url 'gambler-list' %}">Volver</a>
    <hr>

    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Nombre</p>
                <p class="title">{{ gambler.name }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                 <p class="heading">Puntos por resultado</p>
                <p class="title">{{ gambler.points_result }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                 <p class="heading">Puntos por marcador</p>
                <p class="title">{{ gambler.points_score }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                 <p class="heading">Total de puntos</p>
                <p class="title"> {{ value|total_points:gambler.name }}</p>
            </div>
        </div>

    </div>
    <hr>

{% endblock %}