{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}{{ gambler.name }}{% endblock %}

{% block content %}
    <a class="button is-success" href="{% url 'gambler-detail' gambler.pk %}">Volver</a>
    <hr>

    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Nombre</p>
                <p class="title">{{ gambler.name }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Puntos por marcador</p>
                <p class="title">{{ points }}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="level">
        <div>
            <p class="title">
                Apuestas acertadas por marcador
            </p>
        </div>
        <br/>
    </div>
    <hr>
    <div class="level">
        <table class="sortable">
            <thead>
            <tr>
                <th>Fase</th>
                <th>Partido</th>
                <th>Apuesta</th>
                <th>Resultado</th>
            </tr>
            </thead>
            <tbody>

            {% for bet in bet_list %}
                <tr>
                    {% if bet.type == "Original" %}

                        <td>{{ bet.match.get_stage_display }}</td>
                        <td><a href="{% url 'bet-detail' bet.pk %}">{{ bet.team1 }} - {{ bet.team2 }}</a></td>
                        <td>{{ bet.goals_team1 }} - {{ bet.goals_team2 }}</td>
                        <td>{{ total|result:bet.match }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <hr>


{% endblock %}