{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}{{ gambler.name }}{% endblock %}

{% block content %}
    <a clbass="button is-success" href="{% url 'gambler-list' %}">Volver</a>
    <hr>

    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Nombre</p>
                <p class="title">{{ gambler.name }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                 <p class="heading">Puntos por resultado</p>
                <p class="title">{{ gambler.points_result }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                 <p class="heading">Puntos por marcador</p>
                <p class="title">{{ gambler.points_score }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                 <p class="heading">Total de puntos</p>
                <p class="title"> {{ value|total_points:gambler.name }}</p>
            </div>
        </div>

    </div>
    <div class="level">
        <div>
            <p class="title">
                Apuestas
            </p>
        </div>
        <br/>
    </div>
    <div class="level">
        <table class="table">
            <thead>
            <tr>
                <th>Grupo</th>
                <th>Partido</th>
                <th>Apuesta</th>
                <th>Resultado</th>
            </tr>
            </thead>
            <tbody>

            {% for bet in gambler.bet_set.all %}
                <tr>
                    {% for round in bet.team1.round_set.all %}
                        <td>{{ round.get_group_display }}</td>
                    {% endfor %}
                    <td><a href="{% url 'bet-detail' bet.pk %}">{{ bet.team1 }} - {{ bet.team2 }}</a></td>
                    <td>{{ bet.goals_team1 }} - {{ bet.goals_team2 }}</td>
                    <td>{{ total|result:bet.match }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <hr>
    <hr>

{% endblock %}