{% extends 'base.html' %}

{% block title %}{{ player.name }}{% endblock %}

{% block content %}
    <a clbass="button is-success" href="{% url 'player-list' %}">Volver</a>
    <hr>

    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Nombre</p>
                <p class="title">{{ player.name }}</p>
                <p class="heading">Camisa número</p>
                <p class="title">{{ player.jerseyNumber }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Posiciones</p>
                {% for position in player.positions.all %}
                    <p class="title">{{ position.name }}</p>
                {% endfor %}

            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Fecha de nacimiento</p>
                <p class="title">{{ player.birth_date }}</p>
            </div>
        </div>

    </div>
    <hr>

{% endblock %}