{% extends 'base.html' %}

{% block title %}{{ player.name }}{% endblock %}

{% block content %}
    <a clbass="button is-success" href="{% url 'player-list' %}">Go back</a>
    <hr>

    <div class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Name</p>
                <p class="title">{{ player.name }}</p>
                <p class="heading">Jersey number</p>
                <p class="title">{{ player.jerseyNumber }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Positions</p>
                {% for position in player.positions.all %}
                    <p class="title">{{ position.name }}</p>
                {% endfor %}

            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Birth day</p>
                <p class="title">{{ player.birth_date }}</p>
            </div>
        </div>

    </div>
    <hr>
 {% if user.is_authenticated %}
    <a class="button is-danger is-pulled-right" href="{% url 'player-delete' player.pk %}">Delete</a>
    <a class="button is-info is-pulled-left" href="{% url 'player-update' player.pk %}">Update</a>
 {% else %}
<p>requiere autenticación</p>
{% endif %}
{% endblock %}