{% extends 'base.html' %}

{% block title %}Resultados{% endblock %}

{% block content %}
    <h1 class="title">Resultados</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Ronda</th>
            <th>Grupo</th>
            <th>Equipo</th>
            <th>Jugados</th>
            <th>Ganados</th>
            <th>Empates</th>
            <th>Perdidos</th>
            <th>Puntos</th>

        </tr>
        </thead>
        <tbody>

        {% for round in round_list %}
            <tr>
                <td>{{ round.get_stage_display }}</td>
                <td>{{ round.get_group_display }}</td>
                <td>{{ round.team }}</td>
                <td>{{ round.played_matches }}</td>
                <td>{{ round.won }}</td>
                <td>{{ round.draw }}</td>
                <td>{{ round.lose }}</td>
                <td>{{ round.points }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}