{% extends 'base.html' %}

{% block title %}Equipos{% endblock %}

{% block content %}
    <h1 class="title">Equipos</h1>
    <table class="sortable">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Copas ganadas </th>
            <th>Código</th>
        </tr>
        </thead>
        <tbody>
        {% for team in team_list %}
            <tr>
                <td><a href="{% url 'team-detail' team.pk %}">{{ team.name }}</a></td>
                <td>{{ team.cups }}</td>
                <td>{{ team.code }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}